html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0%;
}

.contenedor{
    display: flex;
    flex-direction: column;
    background-image: url("../../image/fondo4.jpg");
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}